In [49]:
import pandas as pd
import numpy as np
df = pd.read_csv('dog_data_short.csv')
df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [50]:
df['Frame Header'] = ['Dog1', 'Dog2', 'Dog3', 'Dog4', 'Dog5']
df

                 Breed        Color  DogName  OwnerZip Frame Header
0             COCKAPOO        BROWN  CHARLEY     15236         Dog1
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238         Dog2
2        BELG MALINOIS      BRINDLE     EICH     15238         Dog3
3                MIXED  BLACK/BROWN    ARROW     15104         Dog4
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139         Dog5

In [51]:
df.set_index('Frame Header', inplace=True)

In [52]:
df

                            Breed        Color  DogName  OwnerZip
Frame Header
Dog1                     COCKAPOO        BROWN  CHARLEY     15236
Dog2                 GER SHEPHERD  BLACK/BROWN   TACODA     15238
Dog3                BELG MALINOIS      BRINDLE     EICH     15238
Dog4                        MIXED  BLACK/BROWN    ARROW     15104
Dog5          AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [53]:
df.reset_index(inplace=True)

In [54]:
df.drop('Frame Header', axis=1, inplace=True)

In [55]:
df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139